# dependencies
node_modules/

# env files
.env
.env.*
!.env.example

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# build files
dist/
build/
.next/
out/

# coverage
coverage/

# vscode
.vscode/

# temp uploads (VERY IMPORTANT for multer)
uploads/

# cache
.cache/
.parcel-cache/

# lock files (optional - depends on team)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml

# misc
*.pid
*.seed
*.pid.lock

# nodemon
nodemon.json

# dotenv backup files
.env.backup

# test output
jest-results.json

# optional logs
*.gz
*.zip
*.tar

# mac system files
.AppleDouble
.LSOverride

# linux
*~

# windows
ehthumbs.db